



.cla {
    position: relative;
    margin: 0px 0px 0px;
    background: rgb(85, 83, 236);
}


.col-md-4 {
    margin-top: 20px;
    margin-bottom: 20px;
  
}

.navbar{
    color: rgb(90, 65, 228);
}

.col-md-6{
    top:30px;
}

.galeria img{
    transition: 0.6s;
}
.galeria img:hover{
    transform: scale(1.2);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.877); 
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(68, 120, 235); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(90, 34, 136); 
}

h1{
    color:rgb(133, 74, 243);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family:Arial, Helvetica, sans-serif
}

.cla p {
    color:black;
}

.cla label{
    color:black;
}

.cla button{
    color:black;
}